.font-link {
    font-family: 'Press Start 2P', cursive;
}

.changeColorRed:hover {
    color: red !important;
    text-decoration: underline !important;
}

.colorPurple {
    background-color: #341E63;
}